/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
} */

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 15px 0;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}



.nav-menu a:hover {
    text-decoration: underline;
}

.search-bar {
    display: inline-block;
    /* float: right; */
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 30px;


}

.list-group-item {
    border: 1px solid #007bff;
}

.list-group-item a {
    color: #007bff;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.search-bar {
    display: flex;
    margin-top: -50px;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 6px 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
}

.search-bar button:hover {
    background-color: #ff4500;
}

img {
    width: 5%;
}

